# Look for AI models here
--extra-index-url https://download.pytorch.org/whl/cpu

# Standard Libraries
flask
gunicorn
ultralytics>=8.3.0
opencv-python-headless
mysql-connector-python
flask-talisman
flask-caching
python-dotenv
numpy

# AI Libraries (Will be pulled from the extra-index-url above)
torch
torchvision
